In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 50)

In [2]:
hockey = pd.read_csv("../data/hockey_3_text_processed.csv")
#silvester = pd.read_csv("../data/silvester_3_text_processed.csv")
#valentine = pd.read_csv("../data/valentine_3_text_processed.csv")

In [3]:
def fix_times(df):
    df['order_time'] = pd.to_datetime(df['order_time'], format="%Y-%m-%d %H:%M:%S.%f")
    df['order_time_closed'] = pd.to_datetime(df['order_time_closed'], format="%Y-%m-%d %H:%M:%S.%f")
    df['order_item_time'] = pd.to_datetime(df['order_item_time'], format="%Y-%m-%d %H:%M:%S.%f")

In [4]:
fix_times(hockey)
#fix_times(valentine)
#fix_times(silvester)

In [10]:
cat_1.columns

Index(['bar_id', 'order_id', 'order_time', 'order_time_closed',
       'order_item_time', 'order_item_id', 'item_qty', 'sales_before_tax',
       'sales_inc_tax', 'guest_count', 'title', 'category_id', 'beer_brand_id',
       'beer_serving_type_id', 'beer_volume', 'total_orders_category_id_1.0',
       'total_orders_category_id_2.0', 'total_orders_category_id_3.0',
       'total_orders_category_id_4.0', 'total_orders_category_id_5.0',
       'total_orders_category_id_6.0', 'total_orders', 'order_day_of_week',
       'is_weekend', 'sharable', 'kids_meal', 'birthday', 'order_hour',
       'period_of_day', 'order_minute', 'order_item_minute', 'order_item_hour',
       'order_close_minute', 'order_close_hour', 'dwell_time', 'meal_step',
       'meal_flow_last_to_close', 'total_flow_steps', 'meal_flow_step',
       'total_sales_before_tax', 'total_sales_inc_tax'],
      dtype='object')

In [12]:
cat_1 = hockey
#cat_1 = pd.concat([hockey, silvester, valentine], axis=0)
cat_1 = cat_1[cat_1.guest_count == 1].sort_values(by=['order_item_time'])
cat_1 = cat_1[~(cat_1.total_sales_before_tax == 0.)]
print("We have a total of ", cat_1.order_id.nunique(), " table orders across: Hockey, valentine, and silvester weeks")

We have a total of  47758  table orders across: Hockey, valentine, and silvester weeks

In [6]:
cat_1.period_of_day.value_counts(normalize=True)

dinner       0.350954
afternoon    0.290847
lunch        0.149521
hang_out     0.126279
night        0.074792
breakfast    0.007606
Name: period_of_day, dtype: float64

In [14]:
cat_1.tail(100)

,bar_id,order_id,order_time,order_time_closed,order_item_time,order_item_id,item_qty,sales_before_tax,sales_inc_tax,guest_count,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,is_weekend,sharable,kids_meal,birthday,order_hour,period_of_day,order_minute,order_item_minute,order_item_hour,order_close_minute,order_close_hour,dwell_time,meal_step,meal_flow_last_to_close,total_flow_steps,meal_flow_step,total_sales_before_tax,total_sales_inc_tax
111558,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-24 00:25:43,52567725302,1.00,11.75,13.278916,1,PB&J,3.0,0,0,0.00000,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,25,0,2,2,3.632500,3,6,52,29,41.50,46.900000
10667,1177,525660020,2019-04-23 22:56:00,2019-04-24 00:26:27,2019-04-24 00:26:27,52566002012,0.25,4.44,5.017331,1,JACKS.VEG.NACHOS,2.0,0,0,0.00000,1,5,3.0,3,0,0,12,Tuesday,False,1,0,0,22,hang_out,56,26,0,26,0,1.507500,5,0,20,20,82.76,93.521246
10678,1177,525660020,2019-04-23 22:56:00,2019-04-24 00:26:27,2019-04-24 00:26:27,52566002014,0.25,4.44,5.017331,1,JACKS.VEG.NACHOS,2.0,0,0,0.00000,1,5,3.0,3,0,0,12,Tuesday,False,1,0,0,22,hang_out,56,26,0,26,0,1.507500,5,0,20,20,82.76,93.521246
272613,17650,525664033,2019-04-23 23:29:00,2019-04-24 01:15:27,2019-04-24 00:27:00,52566403308,1.00,6.50,7.345257,1,SMIRN CHERRY,3.0,0,0,0.00000,0,1,8.0,0,0,0,9,Tuesday,False,0,0,0,23,night,29,27,0,15,1,1.774167,4,10,25,13,69.95,79.046265
272607,17650,525664033,2019-04-23 23:29:00,2019-04-24 01:15:27,2019-04-24 00:27:00,52566403306,1.00,6.50,7.345257,1,SMIRN CHERRY,3.0,0,0,0.00000,0,1,8.0,0,0,0,9,Tuesday,False,0,0,0,23,night,29,27,0,15,1,1.774167,4,10,25,13,69.95,79.046265
111439,17271,525677264,2019-04-23 22:24:00,2019-04-24 01:50:04,2019-04-24 00:30:46,52567726412,1.00,6.50,7.344981,1,CUERVO GOLD,3.0,0,0,0.00000,4,3,14.0,0,0,0,21,Tuesday,False,0,0,0,22,hang_out,24,30,0,50,1,3.434444,8,1,44,27,166.85,188.540000
111440,17271,525677264,2019-04-23 22:24:00,2019-04-24 01:50:04,2019-04-24 00:30:46,52567726413,1.00,6.50,7.344981,1,CUERVO GOLD,3.0,0,0,0.00000,4,3,14.0,0,0,0,21,Tuesday,False,0,0,0,22,hang_out,24,30,0,50,1,3.434444,8,1,44,27,166.85,188.540000
339061,1154,525658491,2019-04-23 23:38:00,2019-04-24 00:36:35,2019-04-24 00:31:23,52565849105,1.00,5.00,5.650591,1,BEEFEATER*,3.0,0,0,0.00000,0,1,5.0,0,0,0,6,Tuesday,False,0,0,0,23,night,38,31,0,36,0,0.976389,3,1,13,12,43.96,49.680000
295648,12543,525663983,2019-04-23 23:46:00,2019-04-24 01:48:23,2019-04-24 00:32:00,52566398301,1.00,5.97,6.750000,1,POLAR ICE,3.0,0,0,0.00000,0,0,2.0,0,0,0,2,Tuesday,False,0,0,0,23,night,46,32,0,48,1,2.039722,2,19,30,11,11.94,13.500000
57698,17271,525677258,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 00:32:42,52567725802,1.00,7.50,8.475000,1,CORONA,1.0,128,1,0.35500,4,0,0.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,32,0,7,2,3.705278,3,12,53,31,30.00,33.900000
59408,17271,525677262,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 00:32:42,52567726203,1.00,5.95,6.723333,1,BUDWEISER TAP,1.0,71,2,0.41400,5,1,0.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,25,32,0,7,2,3.705278,4,7,52,30,35.70,40.340000
126503,17271,525677260,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 00:32:42,52567726003,1.00,15.50,17.514299,1,HENDRICK LAMAR DBL,3.0,0,0,0.00000,0,0,5.0,0,0,0,5,Tuesday,False,0,0,0,22,hang_out,25,32,0,7,2,3.705278,4,12,52,29,55.25,62.430000
296456,12543,525663979,2019-04-23 22:56:00,2019-04-24 01:47:07,2019-04-24 00:33:00,52566397904,1.00,5.09,5.750000,1,BTL BUD,1.0,71,1,0.34100,6,0,0.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,56,33,0,47,1,2.851944,3,18,42,24,30.54,34.500000
296457,12543,525663979,2019-04-23 22:56:00,2019-04-24 01:47:07,2019-04-24 00:33:00,52566397905,1.00,5.09,5.750000,1,BTL BUD,1.0,71,1,0.34100,6,0,0.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,56,33,0,47,1,2.851944,3,18,42,24,30.54,34.500000
477556,1159,525659173,2019-04-23 18:12:00,2019-04-24 01:04:43,2019-04-24 00:33:56,52565917316,1.00,5.96,6.734956,1,COORS.LIGHT BTL,1.0,280,1,0.34000,18,1,1.0,0,0,0,20,Tuesday,False,0,0,0,18,dinner,12,33,0,4,1,6.878611,16,0,93,87,129.82,146.700000
445415,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 00:34:00,52566767613,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,34,0,57,1,2.970000,5,3,41,22,142.20,160.690000
445422,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 00:34:00,52566767610,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,34,0,57,1,2.970000,5,3,41,22,142.20,160.690000
445403,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 00:34:00,52566767614,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,34,0,57,1,2.970000,5,3,41,22,142.20,160.690000
317749,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402604,1.00,7.25,8.193297,1,TITO VODKA,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
317754,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402601,1.00,9.25,10.453516,1,JAGER BOMB,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
317753,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402603,1.00,6.25,7.063187,1,WELL VODKA,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
445408,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 00:34:00,52566767611,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,34,0,57,1,2.970000,5,3,41,22,142.20,160.690000
317751,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402602,1.00,6.25,7.063187,1,WELL VODKA,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
317752,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402600,1.00,9.25,10.453516,1,JAGER BOMB,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
317750,17650,525664026,2019-04-23 23:11:00,2019-04-24 00:48:16,2019-04-24 00:34:00,52566402605,1.00,7.25,8.193297,1,BULLEIT BOURON,3.0,0,0,0.00000,0,0,6.0,0,0,0,6,Tuesday,False,0,0,0,23,night,11,34,0,48,0,1.621111,1,3,23,20,45.50,51.420000
445404,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 00:34:00,52566767612,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,34,0,57,1,2.970000,5,3,41,22,142.20,160.690000
272608,17650,525664033,2019-04-23 23:29:00,2019-04-24 01:15:27,2019-04-24 00:35:00,52566403307,1.00,6.50,7.345257,1,SMIRN ORANGE,3.0,0,0,0.00000,0,1,8.0,0,0,0,9,Tuesday,False,0,0,0,23,night,29,35,0,15,1,1.774167,5,10,25,15,69.95,79.046265
272612,17650,525664033,2019-04-23 23:29:00,2019-04-24 01:15:27,2019-04-24 00:35:00,52566403309,1.00,6.50,7.345257,1,SMIRN ORANGE,3.0,0,0,0.00000,0,1,8.0,0,0,0,9,Tuesday,False,0,0,0,23,night,29,35,0,15,1,1.774167,5,10,25,15,69.95,79.046265
506974,1276,525663432,2019-04-23 22:40:00,2019-04-24 00:35:44,2019-04-24 00:35:44,52566343215,0.33,4.79,5.412967,1,JAGER.X2,3.0,0,0,0.00000,2,3,8.0,2,0,0,15,Tuesday,False,0,0,0,22,hang_out,40,35,0,35,0,1.928889,6,0,25,25,85.28,96.371155
506976,1276,525663432,2019-04-23 22:40:00,2019-04-24 00:35:44,2019-04-24 00:35:44,52566343216,0.33,7.17,8.102500,1,CANADIAN.Jg,1.0,183,2,0.50754,2,3,8.0,2,0,0,15,Tuesday,False,0,0,0,22,hang_out,40,35,0,35,0,1.928889,6,0,25,25,85.28,96.371155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477555,1159,525659173,2019-04-23 18:12:00,2019-04-24 01:04:43,2019-04-24 01:01:47,52565917317,1.00,5.96,6.734956,1,COORS.LIGHT BTL,1.0,280,1,0.34000,18,1,1.0,0,0,0,20,Tuesday,False,0,0,0,18,dinner,12,1,1,4,1,6.878611,17,0,93,93,129.82,146.700000
357136,17650,525664032,2019-04-23 23:11:00,2019-04-24 01:08:31,2019-04-24 01:02:00,52566403204,1.00,5.95,6.722857,1,BUDWEISER TAP,1.0,71,1,0.34100,2,0,3.0,0,0,0,5,Tuesday,False,0,0,0,23,night,11,2,1,8,1,1.958611,5,1,27,26,41.65,47.060000
191563,17655,526414746,2019-04-23 22:59:00,2019-04-24 02:10:54,2019-04-24 01:05:00,52641474604,1.00,6.25,7.063291,1,BUD LIGHT TAP,1.0,15,2,0.38400,4,0,1.0,0,0,1,6,Tuesday,False,0,0,0,22,hang_out,59,5,1,10,2,3.198333,4,16,47,31,39.50,44.640000
253575,17655,526414750,2019-04-23 22:59:00,2019-04-24 02:13:22,2019-04-24 01:05:00,52641475001,1.00,6.50,7.345000,1,BAILEYS,3.0,0,0,0.00000,0,0,2.0,0,0,1,3,Tuesday,False,0,0,0,22,hang_out,59,5,1,13,2,3.239444,3,17,48,31,21.00,23.730000
252332,17655,525667981,2019-04-23 22:59:00,2019-04-24 02:10:15,2019-04-24 01:05:00,52566798104,1.00,6.25,7.063291,1,BUD LIGHT TAP,1.0,15,2,0.38400,4,0,1.0,0,0,1,6,Tuesday,False,0,0,0,22,hang_out,59,5,1,10,2,3.187500,4,16,47,31,39.50,44.640000
223525,17655,525663334,2019-04-23 22:59:00,2019-04-24 01:47:04,2019-04-24 01:05:00,52566333403,1.00,6.50,7.292683,1,BAILEYS,3.0,0,0,0.00000,0,1,2.0,0,0,1,4,Tuesday,False,0,0,0,22,hang_out,59,5,1,47,1,2.801111,4,10,41,31,28.70,32.200000
253609,17655,525663322,2019-04-23 22:59:00,2019-04-24 01:46:36,2019-04-24 01:05:00,52566332205,1.00,6.25,7.063291,1,BUD LIGHT TAP,1.0,15,2,0.38400,4,0,1.0,0,0,1,6,Tuesday,False,0,0,0,22,hang_out,59,5,1,46,1,2.793333,4,10,41,31,39.50,44.640000
244182,17650,525664034,2019-04-23 22:08:00,2019-04-24 01:36:58,2019-04-24 01:07:00,52566403408,1.00,12.00,13.531034,1,CUERVO DBL,3.0,0,0,0.00000,0,1,8.0,0,0,0,9,Tuesday,False,0,0,0,22,hang_out,8,7,1,36,1,3.482778,8,7,49,42,104.40,117.720000
192363,17655,525663332,2019-04-23 23:10:00,2019-04-24 01:43:11,2019-04-24 01:07:00,52566333200,1.00,5.95,6.720000,1,BUDWEISER TAP,1.0,71,2,0.38400,1,0,0.0,0,0,0,1,Tuesday,False,0,0,0,23,night,10,7,1,43,1,2.553056,1,9,38,29,5.95,6.720000
96773,17271,525677256,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 01:07:51,52567725605,1.00,5.95,6.723648,1,BUDWEISER TAP,1.0,71,2,0.41400,2,0,4.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,25,7,1,7,2,3.705278,5,14,52,38,60.45,68.310000
59407,17271,525677262,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 01:11:08,52567726204,1.00,5.95,6.723333,1,BUDWEISER TAP,1.0,71,2,0.41400,5,1,0.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,25,11,1,7,2,3.705278,5,7,52,39,35.70,40.340000
445420,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 01:12:00,52566767617,1.00,12.75,14.407859,1,FT KEY RONA,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,12,1,57,1,2.970000,7,3,41,30,142.20,160.690000
445413,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 01:12:00,52566767616,1.00,6.75,7.627690,1,PINK LEMONADE,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,12,1,57,1,2.970000,7,3,41,30,142.20,160.690000
57695,17271,525677258,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 01:16:36,52567725803,1.00,7.50,8.475000,1,CORONA,1.0,128,1,0.35500,4,0,0.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,16,1,7,2,3.705278,4,12,53,41,30.00,33.900000
126437,17271,525677254,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-24 01:18:37,52567725403,1.00,5.95,6.723164,1,BUDWEISER TAP,1.0,71,2,0.41400,2,0,2.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,18,1,2,2,3.632500,4,11,53,42,35.40,40.000000
126504,17271,525677260,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 01:18:37,52567726004,1.00,8.75,9.887104,1,HENDRICK LAMAR,3.0,0,0,0.00000,0,0,5.0,0,0,0,5,Tuesday,False,0,0,0,22,hang_out,25,18,1,7,2,3.705278,5,12,52,40,55.25,62.430000
96713,17271,525661129,2019-04-23 22:59:00,2019-04-24 01:43:16,2019-04-24 01:18:45,52566112902,1.00,5.95,6.660019,1,DAM AMBER TAP,1.0,6186,2,0.41400,1,1,1.0,0,0,0,3,Tuesday,False,0,0,0,22,hang_out,59,18,1,43,1,2.737778,3,6,40,34,26.90,30.110000
111433,17271,525677264,2019-04-23 22:24:00,2019-04-24 01:50:04,2019-04-24 01:20:35,52567726418,1.00,5.95,6.723482,1,CALAMARI,2.0,0,0,0.00000,4,3,14.0,0,0,0,21,Tuesday,False,1,0,0,22,hang_out,24,20,1,50,1,3.434444,11,1,44,38,166.85,188.540000
235520,18056,525665616,2019-04-23 23:57:00,2019-04-24 01:55:01,2019-04-24 01:29:23,52566561604,1.00,7.50,8.475000,1,3-SPEED,1.0,2437,3,0.47300,2,0,3.0,0,0,0,5,Tuesday,False,0,0,0,23,night,57,29,1,55,1,1.966944,3,6,28,22,36.00,40.680000
59406,17271,525677262,2019-04-23 22:25:00,2019-04-24 02:07:19,2019-04-24 01:35:50,52567726205,1.00,5.95,6.723333,1,BUDWEISER TAP,1.0,71,2,0.41400,5,1,0.0,0,0,0,6,Tuesday,False,0,0,0,22,hang_out,25,35,1,7,2,3.705278,6,7,52,45,35.70,40.340000
111559,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-24 01:35:50,52567725303,1.00,6.25,7.063253,1,BUD LIGHT TAP,1.0,15,2,0.41400,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,35,1,2,2,3.632500,4,6,52,46,41.50,46.900000
74309,17271,525677237,2019-04-23 22:25:00,2019-04-24 01:53:40,2019-04-24 01:36:40,52567723703,1.00,5.95,6.723342,1,BUDWEISER TAP,1.0,71,2,0.41400,2,0,2.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,36,1,53,1,3.477778,4,4,50,46,37.70,42.600000
111429,17271,525677264,2019-04-23 22:24:00,2019-04-24 01:50:04,2019-04-24 01:43:43,52567726420,1.00,6.50,7.344981,1,CUERVO GOLD,3.0,0,0,0.00000,4,3,14.0,0,0,0,21,Tuesday,False,0,0,0,22,hang_out,24,43,1,50,1,3.434444,12,1,44,43,166.85,188.540000
111444,17271,525677264,2019-04-23 22:24:00,2019-04-24 01:50:04,2019-04-24 01:43:43,52567726419,1.00,6.50,7.344981,1,CUERVO GOLD,3.0,0,0,0.00000,4,3,14.0,0,0,0,21,Tuesday,False,0,0,0,22,hang_out,24,43,1,50,1,3.434444,12,1,44,43,166.85,188.540000
445417,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 01:44:00,52566767619,1.00,6.75,7.627690,1,JAMESON,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,44,1,57,1,2.970000,8,3,41,38,142.20,160.690000
445406,19088,525667676,2019-04-23 22:59:00,2019-04-24 01:57:12,2019-04-24 01:44:00,52566767618,1.00,5.95,6.723667,1,FIREBALL,3.0,0,0,0.00000,2,0,18.0,0,0,0,20,Tuesday,False,0,0,0,22,hang_out,59,44,1,57,1,2.970000,8,3,41,38,142.20,160.690000
420343,17125,525672762,2019-04-23 23:59:00,2019-04-24 02:11:11,2019-04-24 01:46:00,52567276203,1.00,22.50,25.426380,1,JUG RICKARD RED,1.0,191,2,1.77400,3,1,0.0,0,0,0,4,Tuesday,False,0,0,0,23,night,59,46,1,11,2,2.203056,4,6,31,25,81.50,92.100000
420250,17125,525672760,2019-04-23 23:01:00,2019-04-24 01:51:13,2019-04-24 01:46:00,52567276003,1.00,7.25,8.192500,1,LG CANADIAN,1.0,183,2,0.59100,4,0,0.0,0,0,0,4,Tuesday,False,0,0,0,23,night,1,46,1,51,1,2.836944,4,1,41,40,29.00,32.770000
57620,17271,526407150,2019-04-23 22:55:00,2019-04-24 02:23:45,2019-04-24 01:46:23,52640715002,1.00,9.25,10.451760,1,JAGER BOMB,3.0,0,0,0.00000,0,0,3.0,0,0,0,3,Tuesday,False,0,0,0,22,hang_out,55,46,1,23,2,3.479167,2,9,51,42,31.25,35.310000
57621,17271,526407150,2019-04-23 22:55:00,2019-04-24 02:23:45,2019-04-24 01:46:23,52640715001,1.00,9.25,10.451760,1,JAGER BOMB,3.0,0,0,0.00000,0,0,3.0,0,0,0,3,Tuesday,False,0,0,0,22,hang_out,55,46,1,23,2,3.479167,2,9,51,42,31.25,35.310000

In [18]:
cat_1.columns

Index(['bar_id', 'order_id', 'order_time', 'order_time_closed',
       'order_item_time', 'order_item_id', 'item_qty', 'sales_before_tax',
       'sales_inc_tax', 'guest_count', 'title', 'category_id', 'beer_brand_id',
       'beer_serving_type_id', 'beer_volume', 'total_orders_category_id_1.0',
       'total_orders_category_id_2.0', 'total_orders_category_id_3.0',
       'total_orders_category_id_4.0', 'total_orders_category_id_5.0',
       'total_orders_category_id_6.0', 'total_orders', 'order_day_of_week',
       'is_weekend', 'sharable', 'kids_meal', 'birthday', 'order_hour',
       'period_of_day', 'order_minute', 'order_item_minute', 'order_item_hour',
       'order_close_minute', 'order_close_hour', 'dwell_time', 'meal_step',
       'meal_flow_last_to_close', 'total_flow_steps', 'meal_flow_step',
       'total_sales_before_tax', 'total_sales_inc_tax'],
      dtype='object')

In [17]:
cat_1[cat_1.order_id == 525677253]

,bar_id,order_id,order_time,order_time_closed,order_item_time,order_item_id,item_qty,sales_before_tax,sales_inc_tax,guest_count,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,is_weekend,sharable,kids_meal,birthday,order_hour,period_of_day,order_minute,order_item_minute,order_item_hour,order_close_minute,order_close_hour,dwell_time,meal_step,meal_flow_last_to_close,total_flow_steps,meal_flow_step,total_sales_before_tax,total_sales_inc_tax
111557,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-23 22:30:21,52567725300,1.0,11.75,13.278916,1,PB&J,3.0,0,0,0.000,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,30,22,2,2,3.6325,1,6,52,1,41.5,46.9
111556,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-23 23:28:47,52567725301,1.0,11.75,13.278916,1,PB&J,3.0,0,0,0.000,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,28,23,2,2,3.6325,2,6,52,15,41.5,46.9
111558,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-24 00:25:43,52567725302,1.0,11.75,13.278916,1,PB&J,3.0,0,0,0.000,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,25,0,2,2,3.6325,3,6,52,29,41.5,46.9
111559,17271,525677253,2019-04-23 22:25:00,2019-04-24 02:02:57,2019-04-24 01:35:50,52567725303,1.0,6.25,7.063253,1,BUD LIGHT TAP,1.0,15,2,0.414,1,0,3.0,0,0,0,4,Tuesday,False,0,0,0,22,hang_out,25,35,1,2,2,3.6325,4,6,52,46,41.5,46.9

## Lets start with the simplest category - `Lunch`

In [45]:
lunch = cat_1[cat_1.order_time.apply(lambda x: True if x.hour > 11 and x.hour < 14 else False)]

In [46]:
lunch.category_id.value_counts()

2.0    21460
4.0     7099
1.0     5722
3.0     3210
6.0     1189
5.0      480
Name: category_id, dtype: int64

In [ ]:
def total_meal_steps(data):
    order_ids = list(data.order_id.value_counts().keys())
    total_dict = {}
    for order in order_ids:
        total_dict[order] = {}
        df_order = data[data.order_id == order].sort_values(by="order_item_time")
        last_meal_step = list(df_order.meal_step.sort_values())[-1]
        total_dict[order]['total_meal_steps'] = last_meal_step
        
        #from sit down to first order
        meal_flows = [ x*4 for i in list(df_order.meal_flow_step)]
        
        total_dict[order]['sit_to_order'] = meal_flows[0]
        
        if len(meal_flows) > 1:
            total_dict[order]['first_to_second_order'] = meal_flows[1] - meal_flows[0]
        
        #avg time between orders
        avg_time  = 0
        prev_time = 0
        for time in meal_flows:
            
            if time == prev:
                continue
            avg_time += (time - prev_time)
            prev_time = time

In [50]:
l = [1,2,3,4]*4
l

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [52]:
lunch[lunch.order_id == 525657346]

,bar_id,order_id,order_time,order_time_closed,order_item_time,order_item_id,item_qty,sales_before_tax,sales_inc_tax,guest_count,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,is_weekend,sharable,kids_meal,birthday,order_hour,period_of_day,order_minute,order_item_minute,order_item_hour,order_close_minute,order_close_hour,dwell_time,meal_step,meal_flow_last_to_close,total_flow_steps,meal_flow_step,total_sales_before_tax,total_sales_inc_tax
520378,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 12:38:20,52565734600,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,38,12,50,16,4.209722,1,11,61,0,80.95,91.48
520375,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 12:38:20,52565734601,1.0,17.95,20.284941,1,CHICKEN.CAESAR,2.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,38,12,50,16,4.209722,1,11,61,0,80.95,91.48
520374,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 13:20:56,52565734602,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,20,13,50,16,4.209722,2,11,61,10,80.95,91.48
520377,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 14:22:05,52565734603,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,22,14,50,16,4.209722,3,11,61,25,80.95,91.48
520379,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 15:12:17,52565734604,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,12,15,50,16,4.209722,4,11,61,37,80.95,91.48
520376,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 16:06:30,52565734605,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,6,16,50,16,4.209722,5,11,61,50,80.95,91.48

In [51]:
lunch.tail()

,bar_id,order_id,order_time,order_time_closed,order_item_time,order_item_id,item_qty,sales_before_tax,sales_inc_tax,guest_count,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,is_weekend,sharable,kids_meal,birthday,order_hour,period_of_day,order_minute,order_item_minute,order_item_hour,order_close_minute,order_close_hour,dwell_time,meal_step,meal_flow_last_to_close,total_flow_steps,meal_flow_step,total_sales_before_tax,total_sales_inc_tax
272662,17650,525664301,2019-04-23 12:23:00,2019-04-23 17:09:22,2019-04-23 15:29:00,52566430106,1.0,0.00,0.000000,1,WATER,4.0,0,0,0.0,0,4,0.0,4,0,0,8,Tuesday,False,0,0,0,12,lunch,23,29,15,9,17,5.906111,6,8,85,61,3.70,3.70
520376,16987,525657346,2019-04-23 12:38:00,2019-04-23 16:50:35,2019-04-23 16:06:30,52565734605,1.0,12.60,14.239012,1,W.BER.CAL.PG.Lg,6.0,0,0,0.0,0,1,0.0,0,0,5,6,Tuesday,False,0,0,0,12,lunch,38,6,16,50,16,4.209722,5,11,61,50,80.95,91.48
272663,17650,525664301,2019-04-23 12:23:00,2019-04-23 17:09:22,2019-04-23 16:34:00,52566430107,1.0,0.00,0.000000,1,WATER,4.0,0,0,0.0,0,4,0.0,4,0,0,8,Tuesday,False,0,0,0,12,lunch,23,34,16,9,17,5.906111,7,8,85,77,3.70,3.70
254948,17655,526414739,2019-04-23 13:41:00,2019-04-24 02:18:53,2019-04-23 18:17:00,52641473901,1.0,2.25,2.250000,1,GLAZED TILAPIA,2.0,0,0,0.0,0,2,0.0,0,0,0,2,Tuesday,False,0,0,0,13,lunch,41,17,18,18,2,12.631389,2,120,189,69,2.25,2.25
24531,2441,525658756,2019-04-23 13:59:00,2019-04-23 22:33:31,2019-04-23 21:12:00,52565875602,1.0,8.32,9.401797,1,VEGTBLE FLATBRD,2.0,0,0,0.0,0,3,0.0,0,0,0,3,Tuesday,False,0,0,0,13,lunch,59,12,21,33,22,8.575278,3,20,128,108,16.92,19.12