# Bars Menu Creation

Being able to detect price drop throughout the day in a specific bar would be of much help for calculating the `happy_hour` feature.

Note that prices for an item (`title`) may vary with `bar_id`, `order_time` (`day_of_week` and `time_of_day`).  
Events may interfere, we're assuming no event occurred during the period of July 14-21 2019.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/original_data.csv")

---------------

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754466 entries, 0 to 1754465
Data columns (total 26 columns):
city                           object
bar_id                         int64
order_id                       int64
order_time                     object
order_item_id                  int64
title                          object
category_id                    float64
beer_brand_id                  int64
beer_serving_type_id           int64
beer_volume                    float64
item_qty                       float64
sales_before_tax               float64
sales_inc_tax                  float64
guest_count                    int64
waiter_id                      float64
country                        object
country_id                     int64
state                          object
state_id                       int64
timezone                       object
bar_type_id                    int64
status                         int64
last_status                    int64
is_bulk                        int64
bar_type                       object
data_availability_status_id    int64
dtypes: float64(6), int64(13), object(7)
memory usage: 348.0+ MB

In [4]:
df.drop(['order_id', 'order_item_id', 'sales_inc_tax', 'guest_count', 'waiter_id', 'country_id', 'state_id', 'timezone',
         'bar_type_id', 'status', 'last_status', 'is_bulk', 'data_availability_status_id'], axis=1, inplace=True)

In [5]:
df['order_time'] = pd.to_datetime(df['order_time'], format='%Y-%m-%d %H:%M:%S.%f')

In [6]:
df['day_of_week'] = df.order_time.apply(lambda ticket: ticket.day_name())
df['time_of_day'] = df.order_time.apply(lambda ticket: ticket.time())

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754466 entries, 0 to 1754465
Data columns (total 15 columns):
city                    object
bar_id                  int64
order_time              datetime64[ns]
title                   object
category_id             float64
beer_brand_id           int64
beer_serving_type_id    int64
beer_volume             float64
item_qty                float64
sales_before_tax        float64
country                 object
state                   object
bar_type                object
day_of_week             object
time_of_day             object
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 200.8+ MB

In [8]:
df.head()

,city,bar_id,order_time,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,item_qty,sales_before_tax,country,state,bar_type,day_of_week,time_of_day
0,Trois-Rivières,2182,2019-07-18 09:12:44,BACON,2.0,0,0,0.0,1.0,0.00,Canada,Québec,Casual Dining,Thursday,09:12:44
1,Trois-Rivières,2182,2019-07-18 09:12:44,PAIN BLANC,2.0,0,0,0.0,1.0,0.00,Canada,Québec,Casual Dining,Thursday,09:12:44
2,Trois-Rivières,2182,2019-07-18 09:12:44,GRASSE MATINEE,5.0,0,0,0.0,1.0,6.50,Canada,Québec,Casual Dining,Thursday,09:12:44
3,Trois-Rivières,2182,2019-07-18 09:12:44,BROUILLÉ,2.0,0,0,0.0,1.0,0.00,Canada,Québec,Casual Dining,Thursday,09:12:44
4,Port Stanley,3383,2019-07-18 12:19:29,Pickeral & Chips,2.0,0,0,0.0,1.0,17.99,Canada,Ontario,Bar/Pub,Thursday,12:19:29

Remove "free" dishes:

In [9]:
before_size = len(df)

In [10]:
df.drop(df[df['sales_before_tax'] <= 0].index, inplace=True)

In [11]:
after_size = len(df)

In [12]:
float(after_size) / before_size

0.8097979670167447

In [13]:
print("Got rid of {0:.2f}% of the entries".format(100 * (1 - float(after_size) / before_size)))

Got rid of 19.02% of the entries

Fix each entry to have `item_qty` of 1:
- Divide `beer_volume` by `item_qty`
- Divide `sales_before_tax` by `item_qty`

Remove entries with `item_qty` <= 0:

In [14]:
df.drop(df[df['item_qty'] <= 0].index, inplace=True)

In [15]:
df['beer_volume'] = df['beer_volume'] / df['item_qty']
df['sales_before_tax'] = df['sales_before_tax'] / df['item_qty']
df['item_qty'] = 1

In [16]:
df.head()

,city,bar_id,order_time,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,item_qty,sales_before_tax,country,state,bar_type,day_of_week,time_of_day
2,Trois-Rivières,2182,2019-07-18 09:12:44,GRASSE MATINEE,5.0,0,0,0.00,1,6.50,Canada,Québec,Casual Dining,Thursday,09:12:44
4,Port Stanley,3383,2019-07-18 12:19:29,Pickeral & Chips,2.0,0,0,0.00,1,17.99,Canada,Ontario,Bar/Pub,Thursday,12:19:29
5,Port Stanley,3383,2019-07-18 12:19:29,Lun Steak Sandwich,2.0,0,0,0.00,1,12.99,Canada,Ontario,Bar/Pub,Thursday,12:19:29
6,Port Stanley,3383,2019-07-18 12:19:29,Canadian,1.0,183,1,0.34,1,4.92,Canada,Ontario,Bar/Pub,Thursday,12:19:29
8,Saint-Jean-sur-Richelieu,5130,2019-07-18 12:06:00,BAVETTE BISTRO,2.0,0,0,0.00,1,20.00,Canada,Québec,Restaurant,Thursday,12:06:00

----------

## Food Price Calculation

We start off with calculating a list of prices per title for a bar.  
Having this list, we'd decide on the official price (probably the highest).

In [17]:
from collections import defaultdict

In [18]:
prices = defaultdict(list)

In [19]:
bars = list(set(df['bar_id']))

In [20]:
for bar in bars:
    prices[bar] = defaultdict(list)

In [21]:
for index, order in df.iterrows():
    prices[order['bar_id']][order['title']].append(order['sales_before_tax'])

In [22]:
for bar in bars:
    for item in prices[bar]:
        prices[bar][item] = max(prices[bar][item])

In [23]:
# for bar in bars:
#     for item in prices[bar]:
#         print("Bar: {}, Item: {}, Price: {}".format(bar, item, prices[bar][item]))
#     break

Bar: 2054, Item: ROULEAUX IMPERIAUX, Price: 6.0
Bar: 2054, Item: MAKI-PRINTANIER, Price: 21.95
Bar: 2054, Item: TATAKI, Price: 8.75
Bar: 2054, Item: SOUPE MISO, Price: 3.0
Bar: 2054, Item: POKE SAUMON, Price: 13.0
Bar: 2054, Item: PETONCLE/MANGUE, Price: 8.0
Bar: 2054, Item: SANGRIA PICHET, Price: 17.575757575757574
Bar: 2054, Item: EXTRA SCE L'UNIQUE, Price: 1.0
Bar: 2054, Item: CB TOUR DE LA GASPESIE, Price: 42.96
Bar: 2054, Item: CREVETTE TEMPURA, Price: 7.95
Bar: 2054, Item: SEPT-ÎLES EPICE, Price: 8.09090909090909
Bar: 2054, Item: CB PORTE ENFER, Price: 25.95
Bar: 2054, Item: SUSHI PIZZA, Price: 9.333333333333334
Bar: 2054, Item: ROULEAU HOMARD, Price: 8.95
Bar: 2054, Item: SALADE SAUMON, Price: 17.0
Bar: 2054, Item: CREVETTE COCO, Price: 8.5
Bar: 2054, Item: SANTA, Price: 27.93939393939394
Bar: 2054, Item: ROULEAU TATAKI, Price: 7.95
Bar: 2054, Item: TART SAUMON PLAT, Price: 20.0
Bar: 2054, Item: BAVAROIS LYCHEES, Price: 5.0
Bar: 2054, Item: LIMOMADE, Price: 2.63
Bar: 2054, Item: BLANCHE 20 OZ, Price: 6.74
Bar: 2054, Item: PORCINET, Price: 7.75
Bar: 2054, Item: TART.BOEUF ENT, Price: 13.0
Bar: 2054, Item: NIPON, Price: 7.95
Bar: 2054, Item: CB LE DICTATEUR, Price: 24.95
Bar: 2054, Item: RUFFLE BBQ, Price: 9.333333333333334
Bar: 2054, Item: VERRE ALLERG, Price: 6.0
Bar: 2054, Item: GEISHA, Price: 8.848484848484848
Bar: 2054, Item: CREV POP CORN, Price: 8.575757575757576
Bar: 2054, Item: LE THAI, Price: 10.060606060606059
Bar: 2054, Item: CRABE DES NEIGES, Price: 12.06060606060606
Bar: 2054, Item: EXTRA MAKI FRIT, Price: 1.0
Bar: 2054, Item: ATLANTIQUE SUCRE, Price: 8.0
Bar: 2054, Item: DRAGON ROLL, Price: 8.95
Bar: 2054, Item: CALMAR FRIT, Price: 8.0
Bar: 2054, Item: VERRE LEON, Price: 7.0
Bar: 2054, Item: SENSEI, Price: 9.5
Bar: 2054, Item: ALTERNATIF, Price: 10.060606060606059
Bar: 2054, Item: PETONCLE YUZU, Price: 9.5
Bar: 2054, Item: COMBO CRABE, Price: 31.0
Bar: 2054, Item: LE FIGUE, Price: 8.95
Bar: 2054, Item: SALADE DE CALMAR, Price: 7.0
Bar: 2054, Item: POKE CRABE, Price: 20.0
Bar: 2054, Item: LEGUME TEMPURA, Price: 7.0
Bar: 2054, Item: LIQUEUR, Price: 2.63
Bar: 2054, Item: CB GRAND FLEUVE, Price: 37.5
Bar: 2054, Item: LITCHINI, Price: 6.09
Bar: 2054, Item: VIRGIN CEASAR, Price: 3.48
Bar: 2054, Item: FORT 1, Price: 5.22
Bar: 2054, Item: TART.SAUMON ENT, Price: 12.0
Bar: 2054, Item: BIG APPLE, Price: 8.26
Bar: 2054, Item: SAMOURAI, Price: 8.95
Bar: 2054, Item: SAUMON THAI, Price: 8.0
Bar: 2054, Item: ARC EN CIEL, Price: 9.0
Bar: 2054, Item: MAKIONLY 30, Price: 40.96
Bar: 2054, Item: LE JARDINIER, Price: 7.5
Bar: 2054, Item: JADE, Price: 6.95
Bar: 2054, Item: SEPT-ILES SESAME, Price: 8.09090909090909
Bar: 2054, Item: WILM, Price: 25.393939393939394
Bar: 2054, Item: DRY MARTINI, Price: 6.52
Bar: 2054, Item: LE HOMARDIER, Price: 11.950000000000001
Bar: 2054, Item: GIN TONIC, Price: 5.22
Bar: 2054, Item: HOSOMAKIS AVOCAT, Price: 6.0
Bar: 2054, Item: FUT 20 OZ SAPPORO, Price: 6.74
Bar: 2054, Item: FUT STELLA 20, Price: 6.96
Bar: 2054, Item: ROUGE PIQUANT, Price: 7.95
Bar: 2054, Item: TERIYAKI, Price: 7.95
Bar: 2054, Item: MAKIONLY 15, Price: 20.95
Bar: 2054, Item: POKE CREVETTES, Price: 14.0
Bar: 2054, Item: SUSHI BURGER, Price: 9.09090909090909
Bar: 2054, Item: NORD EST, Price: 8.05
Bar: 2054, Item: SUSHI VOL 25 $, Price: 25.0
Bar: 2054, Item: MAKI 50, Price: 60.0
Bar: 2054, Item: VERRE SANGRIA, Price: 6.22
Bar: 2054, Item: TART.THON ENT, Price: 13.0
Bar: 2054, Item: KANIKAMA ET POUSSE, Price: 5.5
Bar: 2054, Item: POMME SAUMON FUMÉ, Price: 7.76
Bar: 2054, Item: CHIPIE 20 OZ, Price: 6.74
Bar: 2054, Item: CAFE, Price: 1.75
Bar: 2054, Item: THE/TISANE, Price: 1.75
Bar: 2054, Item: CALIFORNIA ROLL, Price: 7.5
Bar: 2054, Item: FEUILLE NORI, Price: 0.2
Bar: 2054, Item: HOSOMAKI CONCOMBRE, Price: 5.0
Bar: 2054, Item: BLOODY CESAR, Price: 6.52
Bar: 2054, Item: VERRE SANTA, Price: 7.0
Bar: 2054, Item: NIERPOORT, Price: 25.36
Bar: 2054, Item: HOSOMAKIS SAUMON, Price: 7.0
Bar: 2054, Item: NIGIRIS CREVETTE SUCREE, Price: 4.0
Bar: 2054, Item: PICHET, Price: 18.26
Bar: 2054, Item: EXTRA UNIQUE 2, Price: 1.0
Bar: 2054, Item: VERRE SANG BL, Price: 6.22
Bar: 2054, Item: LE DUO, Price: 25.0
Bar: 2054, Item: PETONCLES YUZU, Price: 9.0
Bar: 2054, Item: POULET PISTACHE, Price: 7.75
Bar: 2054, Item: VERRE SANG RG, Price: 6.22
Bar: 2054, Item: COMBO 8, Price: 11.99
Bar: 2054, Item: SAUMON CHÈVRE, Price: 9.0
Bar: 2054, Item: ANTU, Price: 28.16
Bar: 2054, Item: CREVETTE ROATAN, Price: 8.0
Bar: 2054, Item: RELAX, Price: 23.4
Bar: 2054, Item: SOUPE HEBDO, Price: 3.0
Bar: 2054, Item: DYNAMITE ROLL, Price: 7.95
Bar: 2054, Item: DIVERS NOURRITURE, Price: 3.0
Bar: 2054, Item: LA TABLE D'HOTE, Price: 34.0
Bar: 2054, Item: KAMIKAZE, Price: 8.09090909090909
Bar: 2054, Item: PETONCLE MANGUES, Price: 9.0
Bar: 2054, Item: THON THAI, Price: 8.26
Bar: 2054, Item: ROULEAU CRABE, Price: 11.95
Bar: 2054, Item: SALADE CREVETTE, Price: 18.0
Bar: 2054, Item: SANCERRE, Price: 34.56
Bar: 2054, Item: CREV ET LEGUME TEMPURA, Price: 8.09090909090909
Bar: 2054, Item: GUNKAN CRABE, Price: 8.0
Bar: 2054, Item: COMBO 12, Price: 13.99
Bar: 2054, Item: MAKIONLY 12, Price: 15.99
Bar: 2054, Item: DESSERT DU JOUR, Price: 2.5
Bar: 2054, Item: 1 $ SUSHI RESTANT, Price: 1.0
Bar: 2054, Item: VERRE CHABLIS, Price: 8.0
Bar: 2054, Item: VERRE NIERPOORT, Price: 6.0
Bar: 2054, Item: A TOUT LE MONDE, Price: 7.17
Bar: 2054, Item: GATEAU FROMAGE ET POMME, Price: 5.0
Bar: 2054, Item: TARTARE DE SAUMON, Price: 12.0
Bar: 2054, Item: CREV ET LEGUMES TEMPURA, Price: 7.5
Bar: 2054, Item: COMBO 16, Price: 18.99
Bar: 2054, Item: VINCENZO, Price: 26.2
Bar: 2054, Item: EXOTIQUE, Price: 5.0
Bar: 2054, Item: FEUILLE SOJA, Price: 2.0
Bar: 2054, Item: NIGIRIS THON BLANC, Price: 4.75
Bar: 2054, Item: VERRE ANTU, Price: 7.0
Bar: 2054, Item: VERRE WILM, Price: 6.0
Bar: 2054, Item: RENE BOUVIER, Price: 33.0
Bar: 2054, Item: TART BOEUF PLAT, Price: 20.0
Bar: 2054, Item: Matante, Price: 6.09
Bar: 2054, Item: PETITE BIERE, Price: 4.3500000000000005
Bar: 2054, Item: NIGIRIS SAUMON, Price: 4.0
Bar: 2054, Item: HOSO CREVETTE TEMPURA, Price: 7.0
Bar: 2054, Item: VEGETARIEN, Price: 7.5
Bar: 2054, Item: CARAFE DE SAKE, Price: 11.0
Bar: 2054, Item: L'ÉQUIPAGE, Price: 75.0
Bar: 2054, Item: LEON BEYER, Price: 28.25
Bar: 2054, Item: BECK'S SANS ALCOOL, Price: 4.35
Bar: 2054, Item: COTO IMAZ, Price: 31.2
Bar: 2054, Item: VODKA CANNEBERGES, Price: 5.0
Bar: 2054, Item: FUT STELLA 12, Price: 5.22
Bar: 2054, Item: COSMOPOLITAIN, Price: 6.0
Bar: 2054, Item: RHUM COKE, Price: 5.22
Bar: 2054, Item: EAU GAZEIFIÉ, Price: 3.27
Bar: 2054, Item: MAKIONLY 8, Price: 12.99
Bar: 2054, Item: SASHIMIS SAUMON FUME, Price: 4.75
Bar: 2054, Item: SAKE HAKUTSURU, Price: 24.0
Bar: 2054, Item: POKE VEGE, Price: 15.0
Bar: 2054, Item: MAKI ONLY 15, Price: 19.99
Bar: 2054, Item: ALLERGRINI, Price: 25.6
Bar: 2054, Item: NIGIRIS THON ROUGE, Price: 4.75
Bar: 2054, Item: NIGIRIS PIEUVRE, Price: 5.0
Bar: 2054, Item: CAFE COUR BOIS, Price: 6.96
Bar: 2054, Item: NIGIRIS ESCOLAR, Price: 4.75
Bar: 2054, Item: SALADE POULET, Price: 12.0
Bar: 2054, Item: HOSOMAKIS THON ROUGE, Price: 7.0
Bar: 2054, Item: CHEREAU, Price: 24.35
Bar: 2054, Item: NIGIRIS SAUMON FUME, Price: 4.75
Bar: 2054, Item: NIGIRIS PETONCLE, Price: 5.0
Bar: 2054, Item: CALMARS FRITS, Price: 8.0

-------------

## Beer Price Calculation

As a starter, we'll start with beers (getting warmer).

In [24]:
# basically all features except `city`, `country`, `state`
beer_columns = ['bar_id', 'order_time', 'day_of_week', 'time_of_day', 'title', 'beer_brand_id',
                'beer_serving_type_id', 'beer_volume', 'item_qty', 'sales_before_tax', 'bar_type']

beers = df[df['category_id'] == 1]
beers = beers[beer_columns]
beers.sort_values(by='bar_id', inplace=True)
beers.reset_index(drop=True, inplace=True)