In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv("../data/df_per_table_august.csv")
per_row = pd.read_csv("../data/df_per_item_august.csv")
best_bar = pd.read_csv("../Feature_Engineering/best_bars_35.csv")

In [15]:
best_bar.bar_id
bars = data.loc[data.bar_id.isin(best_bar.bar_id)]

In [29]:
large_tables = bars.loc[bars.guest_count >=6].reset_index(drop=True)

In [33]:
print(large_tables.bar_id.nunique())
print(large_tables.order_id.nunique())

34
337

In [38]:
large_tables.iloc[:,:5]

      order_id  bar_id           order_time  sales_inc_tax  guest_count
0    647107565   17624  2019-07-14 08:51:26     109.730000            6
1    647107578   17624  2019-07-14 09:22:35      97.650000            7
2    647107582   17624  2019-07-14 09:47:50      68.370000            7
3    647126320    3478  2019-07-14 10:26:09      59.560000            6
4    647135803   17624  2019-07-14 09:49:40      73.270000            6
5    647135822   17624  2019-07-14 10:30:07      63.750000            6
6    647135851   17624  2019-07-14 11:02:13     117.200375            8
7    647159411    3210  2019-07-14 12:13:17     111.020142            6
8    647173119   17624  2019-07-14 11:34:27      97.120000            7
9    647173443    9438  2019-07-14 11:18:02     187.410000            6
10   647194692    2068  2019-07-14 11:05:23     105.130000            6
11   647196004    3478  2019-07-14 09:58:08     137.510000            8
12   647231555   19199  2019-07-14 11:33:00     150.525332            8
13   647242367     432  2019-07-14 12:14:27     168.960000            8
14   647242373     432  2019-07-14 12:36:13     269.040000            8
15   647452457    2068  2019-07-14 13:14:50      86.180000            7
16   647452731     432  2019-07-14 13:30:04     140.270000            6
17   647593956    3210  2019-07-14 18:48:38     307.789774            8
18   647595695   17624  2019-07-14 17:49:57     108.570000            6
19   647596037   11086  2019-07-14 15:21:00     193.450000            6
20   647596453   11654  2019-07-14 18:59:02      92.842028            6
21   647598209    5022  2019-07-14 17:18:10     265.310000            9
22   647609267    2853  2019-07-14 18:03:26      40.670000            7
23   647609554    3474  2019-07-14 18:07:10      55.340000            6
24   647609665    3211  2019-07-14 20:52:01     112.550024            6
25   647609805     432  2019-07-14 18:47:11     311.988700           10
26   647609818     432  2019-07-14 19:18:36     178.160000            6
27   647613266    9438  2019-07-14 19:31:53     170.160000            6
28   647613881   19199  2019-07-14 19:08:00     372.470000            6
29   647622927     432  2019-07-14 20:03:14     264.160000            9
..         ...     ...                  ...            ...          ...
307  651918042   11086  2019-07-20 17:59:00     130.602356            6
308  651921784     432  2019-07-20 20:43:14      37.942210            8
309  651938239    2388  2019-07-20 21:39:56     501.700000            6
310  651939476    9438  2019-07-20 21:26:34     188.560000            6
311  651939479    9438  2019-07-20 21:17:33     243.750000            6
312  651940003    3211  2019-07-20 23:35:08      33.070000            6
313  651964111    1544  2019-07-20 17:18:53      31.500000            6
314  651964122    1544  2019-07-20 17:26:31     412.360000           13
315  651964554    2068  2019-07-20 18:59:41      89.190000            7
316  651964559    2068  2019-07-20 18:49:20      69.600000            9
317  651964570    2068  2019-07-20 20:27:46     112.870000            6
318  651965150    1317  2019-07-20 17:54:53      83.930000            6
319  651965160    1317  2019-07-20 17:54:53     129.920000            8
320  651966997    2388  2019-07-20 12:40:25      41.390000            6
321  651967026    2388  2019-07-20 19:09:25     250.643963            7
322  651967057    2388  2019-07-20 17:54:32     149.410000           14
323  651967074    2388  2019-07-20 18:47:28     170.680000            7
324  651967397    9384  2019-07-20 22:35:17      74.430000            8
325  651968183    3211  2019-07-20 18:44:17      42.830000            6
326  651983651   12392  2019-07-19 20:13:00    1221.384795            9
327  651983657   12392  2019-07-19 20:55:00     528.554848            9
328  651984266   11654  2019-07-20 17:37:29      74.260000            9
329  651991962   11290  2019-07-20 21:11:00      48.300000           10
330  651992044   11290  2019-07-20 21:21:00      55.250000            6
331  651997517    1990  2019-07-20 16:38:35     213.350000            6
332  652002168    1990  2019-07-20 18:17:32     217.920000            8
333  652018211   12392  2019-07-21 01:28:00      29.000000            6
334  652025644    9446  2019-07-20 20:42:00     175.340000            6
335  652026357   12392  2019-07-20 23:17:00      59.500000            8
336  652026359   12392  2019-07-21 00:58:00      52.250000            7

[337 rows x 5 columns]

In [43]:
per_row.loc[per_row.order_id == 647107565] #family breakfast

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
697402,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756504,OEUFS SANTORINI,2.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697403,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756500,GAUFRE,2.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697404,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756503,SM CHOC LAIT,4.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697405,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756505,OEUFS LACHANCE,2.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697406,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756501,MONTREAL OEUFS,2.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697407,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756506,BRUXELLES,NaN,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0
697408,Gatineau,17624,647107565,2019-07-14 08:51:26,64710756502,PETITE JUS,4.0,0,0,0.0,...,0,0,6,Sunday,8,breakfast,True,0,0,0

In [44]:
per_row.loc[per_row.order_id == 647107578]#family breakfast

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
1267231,Gatineau,17624,647107578,2019-07-14 09:22:35,64710757801,OMLETTE,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
1267232,Gatineau,17624,647107578,2019-07-14 09:22:35,64710757800,SPECIAL DU DEJEUNER,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
1267233,Gatineau,17624,647107578,2019-07-14 09:22:35,64710757804,ENF OEUF AVEC,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
1267234,Gatineau,17624,647107578,2019-07-14 09:22:35,64710757802,LEVER DE SOLEIL,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
1267235,Gatineau,17624,647107578,2019-07-14 09:22:35,64710757803,LE CROQUANT,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0

In [45]:
per_row.loc[per_row.order_id == 647107582] #family breakfast

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
940681,Gatineau,17624,647107582,2019-07-14 09:47:50,64710758204,ENF CREPES,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
940682,Gatineau,17624,647107582,2019-07-14 09:47:50,64710758202,GAUFRE,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
940683,Gatineau,17624,647107582,2019-07-14 09:47:50,64710758200,DEUX OEUFS AVEC,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
940684,Gatineau,17624,647107582,2019-07-14 09:47:50,64710758201,UNE OEUF AVEC,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0
940685,Gatineau,17624,647107582,2019-07-14 09:47:50,64710758203,A COTE BACON,2.0,0,0,0.0,...,0,0,5,Sunday,9,breakfast,True,0,0,0

In [46]:
per_row.loc[per_row.order_id == 651968183]

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
78277,Saint John,3211,651968183,2019-07-20 18:44:17,65196818302,ICE TEA,4.0,0,0,0.0,...,0,0,4,Saturday,18,dinner,True,0,0,0
78278,Saint John,3211,651968183,2019-07-20 18:44:17,65196818303,STEAK AND FRITS,2.0,0,0,0.0,...,0,0,4,Saturday,18,dinner,True,0,0,0
78279,Saint John,3211,651968183,2019-07-20 18:44:17,65196818300,loaf-1,2.0,0,0,0.0,...,0,0,4,Saturday,18,dinner,True,0,0,0
78280,Saint John,3211,651968183,2019-07-20 18:44:17,65196818301,SEAFOOD CHOWDER,2.0,0,0,0.0,...,0,0,4,Saturday,18,dinner,True,0,0,0

In [47]:
large_tables.order_id.sample(5)

88     648745969
300    651823083
205    650470157
5      647135822
239    650983218
Name: order_id, dtype: int64

In [48]:
per_row.loc[per_row.order_id == 648745969]

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
596520,Saint John,3211,648745969,2019-07-16 17:39:28,64874596908,SAILOR JERRYS,3.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596521,Saint John,3211,648745969,2019-07-16 17:39:28,64874596915,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596522,Saint John,3211,648745969,2019-07-16 17:39:28,64874596913,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596523,Saint John,3211,648745969,2019-07-16 17:39:28,64874596914,RED SANGRIA,3.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596524,Saint John,3211,648745969,2019-07-16 17:39:28,64874596904,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596525,Saint John,3211,648745969,2019-07-16 17:39:28,64874596906,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596526,Saint John,3211,648745969,2019-07-16 17:39:28,64874596901,LRG MOOSE LITE,1.0,1450,2,0.946,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596527,Saint John,3211,648745969,2019-07-16 17:39:28,64874596911,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596528,Saint John,3211,648745969,2019-07-16 17:39:28,64874596909,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596529,Saint John,3211,648745969,2019-07-16 17:39:28,64874596907,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596530,Saint John,3211,648745969,2019-07-16 17:39:28,64874596905,LRG PIC YIPPEE,1.0,4299,2,1.182,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596531,Saint John,3211,648745969,2019-07-16 17:39:28,64874596916,LRG GARRISSON,1.0,3812,2,0.946,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596532,Saint John,3211,648745969,2019-07-16 17:39:28,64874596903,LRG RICKARDS,1.0,191,2,0.591,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596533,Saint John,3211,648745969,2019-07-16 17:39:28,64874596912,9OZ GL LAS MOR PG,6.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596534,Saint John,3211,648745969,2019-07-16 17:39:28,64874596910,9OZ GL SAN CAR CHAR,6.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0
596535,Saint John,3211,648745969,2019-07-16 17:39:28,64874596902,ALCOHOL DRINK ******,5.0,0,0,0.000,...,8,2,9,Tuesday,17,afternoon,False,0,0,0

In [51]:
data.loc[data.order_id == 648745969].iloc[:,4:] #drinking

,guest_count,bar_type_id,total_orders,item_qty,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,kids_meal,birthday,bar_type,beer_volume,beer_brand_id,beer_serving_type_id,order_hour,order_day_of_week,num_drinks
106923,11,1,9,24.0,4,0,2,1,8,2,0,0,Bar/Pub,3.665,"[0, 0, 0, 0, 0, 0, 1450, 0, 0, 0, 4299, 3812, ...","[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 2, 2, 0, 0, 0]",17,Tuesday,9

In [53]:
per_row.loc[per_row.order_id == 651823083] # a big meal

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
868142,Montreal,9438,651823083,2019-07-20 17:12:05,65182308310,POTAGE 6$,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868143,Montreal,9438,651823083,2019-07-20 17:12:05,65182308306,12 MALPEQUES,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868144,Montreal,9438,651823083,2019-07-20 17:12:05,65182308303,ROSSINI,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868145,Montreal,9438,651823083,2019-07-20 17:12:05,65182308317,SALADE CONFIT CANARD,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868146,Montreal,9438,651823083,2019-07-20 17:12:05,65182308312,PLAT POISSON CARTE,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868147,Montreal,9438,651823083,2019-07-20 17:12:05,65182308314,10oz ENTRECOTE,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868148,Montreal,9438,651823083,2019-07-20 17:12:05,65182308301,SUITE SERV 3,5.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868149,Montreal,9438,651823083,2019-07-20 17:12:05,65182308304,RIS DE VEAU,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868150,Montreal,9438,651823083,2019-07-20 17:12:05,65182308316,MACARONI ENF,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868151,Montreal,9438,651823083,2019-07-20 17:12:05,65182308315,FEUILLETE HOMARD,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868152,Montreal,9438,651823083,2019-07-20 17:12:05,65182308307,GOUTER TARTARE,5.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868153,Montreal,9438,651823083,2019-07-20 17:12:05,65182308305,OEUF EN NEIGE,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868154,Montreal,9438,651823083,2019-07-20 17:12:05,65182308309,ESKA GAZEUSE,4.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868155,Montreal,9438,651823083,2019-07-20 17:12:05,65182308311,CROZE HERMITAGE,NaN,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868156,Montreal,9438,651823083,2019-07-20 17:12:05,65182308308,ESKA SOURCE,4.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868157,Montreal,9438,651823083,2019-07-20 17:12:05,65182308313,POUILLY FUME,6.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868158,Montreal,9438,651823083,2019-07-20 17:12:05,65182308302,PT TARTARE DE SAUMO,2.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0
868159,Montreal,9438,651823083,2019-07-20 17:12:05,65182308300,SUITE SERV 2,5.0,0,0,0.0,...,3,1,14,Saturday,17,afternoon,True,0,0,0

In [52]:
data.loc[data.order_id == 651823083].iloc[:,4:] # a big meal

,guest_count,bar_type_id,total_orders,item_qty,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,kids_meal,birthday,bar_type,beer_volume,beer_brand_id,beer_serving_type_id,order_hour,order_day_of_week,num_drinks
352377,6,0,14,20.0,0,11,0,2,3,1,0,0,NaN,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",17,Saturday,3

In [57]:
per_row.loc[per_row.order_id == 650470157].iloc[:,12:] # after work event

,sales_inc_tax,guest_count,timezone,bar_type_id,bar_type,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
1131735,45.964692,9,America/Toronto,1,Bar/Pub,1,2,1,0,0,0,4,Thursday,18,dinner,False,0,0,0
1131736,46.459059,9,America/Toronto,1,Bar/Pub,1,2,1,0,0,0,4,Thursday,18,dinner,False,0,0,0
1131737,16.084193,9,America/Toronto,1,Bar/Pub,1,2,1,0,0,0,4,Thursday,18,dinner,False,0,0,0
1131738,5.392056,9,America/Toronto,1,Bar/Pub,1,2,1,0,0,0,4,Thursday,18,dinner,False,0,0,0

In [59]:
per_row.loc[per_row.order_id == 647135822].iloc[:,:] # family breakfast

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
697436,Gatineau,17624,647135822,2019-07-14 10:30:07,64713582203,ENF OEUF AVEC,2.0,0,0,0.0,...,0,0,4,Sunday,10,breakfast,True,0,0,0
697437,Gatineau,17624,647135822,2019-07-14 10:30:07,64713582202,A COTE FEVES,2.0,0,0,0.0,...,0,0,4,Sunday,10,breakfast,True,0,0,0
697438,Gatineau,17624,647135822,2019-07-14 10:30:07,64713582200,DEUX OEUFS AVEC,2.0,0,0,0.0,...,0,0,4,Sunday,10,breakfast,True,0,0,0
697439,Gatineau,17624,647135822,2019-07-14 10:30:07,64713582201,SPECIAL DU DEJEUNER,2.0,0,0,0.0,...,0,0,4,Sunday,10,breakfast,True,0,0,0

In [60]:
per_row.loc[per_row.order_id == 650983218].iloc[:,:] # wierdest party

,city,bar_id,order_id,order_time,order_item_id,title,category_id,beer_brand_id,beer_serving_type_id,beer_volume,...,total_orders_category_id_5.0,total_orders_category_id_6.0,total_orders,order_day_of_week,order_hour,period_of_day,is_weekend,sharable,kids_meal,birthday
175463,Québec,5022,650983218,2019-07-19 18:23:11,65098321821,REM BAR,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175464,Québec,5022,650983218,2019-07-19 18:23:11,65098321813,MED-BIEN,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175465,Québec,5022,650983218,2019-07-19 18:23:11,65098321836,HOMARD 2 1/2 LB,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175466,Québec,5022,650983218,2019-07-19 18:23:11,65098321831,VOIR SERVEUR,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175467,Québec,5022,650983218,2019-07-19 18:23:11,65098321827,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175468,Québec,5022,650983218,2019-07-19 18:23:11,65098321806,SOLE MEUNIERE CARTE,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175469,Québec,5022,650983218,2019-07-19 18:23:11,65098321815,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175470,Québec,5022,650983218,2019-07-19 18:23:11,65098321816,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175471,Québec,5022,650983218,2019-07-19 18:23:11,65098321826,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175472,Québec,5022,650983218,2019-07-19 18:23:11,65098321832,VOIR SERVEUR,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175473,Québec,5022,650983218,2019-07-19 18:23:11,65098321802,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175474,Québec,5022,650983218,2019-07-19 18:23:11,65098321814,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175475,Québec,5022,650983218,2019-07-19 18:23:11,65098321841,AUTRES,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175476,Québec,5022,650983218,2019-07-19 18:23:11,65098321818,CAFE BRESILIEN,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175477,Québec,5022,650983218,2019-07-19 18:23:11,65098321848,SPRITZ,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175478,Québec,5022,650983218,2019-07-19 18:23:11,65098321801,FONDU PARMESAN,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175479,Québec,5022,650983218,2019-07-19 18:23:11,65098321823,FILET MIGNON 6 oz TH,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175480,Québec,5022,650983218,2019-07-19 18:23:11,65098321845,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175481,Québec,5022,650983218,2019-07-19 18:23:11,65098321850,FILET MIGNON 4 OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175482,Québec,5022,650983218,2019-07-19 18:23:11,65098321837,POUR 1 PERSONNE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175483,Québec,5022,650983218,2019-07-19 18:23:11,65098321800,FONDU PARMESAN,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175484,Québec,5022,650983218,2019-07-19 18:23:11,65098321804,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175485,Québec,5022,650983218,2019-07-19 18:23:11,65098321811,(6) COCKTAIL CREVETTE,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175486,Québec,5022,650983218,2019-07-19 18:23:11,65098321822,ESCARGOTS GRATINES TH,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175487,Québec,5022,650983218,2019-07-19 18:23:11,65098321824,MED-SAIGANT,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175488,Québec,5022,650983218,2019-07-19 18:23:11,65098321825,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175489,Québec,5022,650983218,2019-07-19 18:23:11,65098321810,LA FLEUR ANNE BTL,6.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175490,Québec,5022,650983218,2019-07-19 18:23:11,65098321828,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175491,Québec,5022,650983218,2019-07-19 18:23:11,65098321835,STELLA 20 oz FUT,1.0,44,2,0.591,...,30,1,25,Friday,18,dinner,True,0,0,0
175492,Québec,5022,650983218,2019-07-19 18:23:11,65098321853,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175493,Québec,5022,650983218,2019-07-19 18:23:11,65098321820,VODKA ABSOLUT,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175494,Québec,5022,650983218,2019-07-19 18:23:11,65098321838,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175495,Québec,5022,650983218,2019-07-19 18:23:11,65098321847,CAFE CARTE,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175496,Québec,5022,650983218,2019-07-19 18:23:11,65098321807,GRILLE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175497,Québec,5022,650983218,2019-07-19 18:23:11,65098321842,FILET MIGNON 6 OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175498,Québec,5022,650983218,2019-07-19 18:23:11,65098321849,AUTRES,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175499,Québec,5022,650983218,2019-07-19 18:23:11,65098321809,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175500,Québec,5022,650983218,2019-07-19 18:23:11,65098321829,* FILET MIGNON 6OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175501,Québec,5022,650983218,2019-07-19 18:23:11,65098321851,MEDIUM,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175502,Québec,5022,650983218,2019-07-19 18:23:11,65098321839,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175503,Québec,5022,650983218,2019-07-19 18:23:11,65098321844,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175504,Québec,5022,650983218,2019-07-19 18:23:11,65098321852,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175505,Québec,5022,650983218,2019-07-19 18:23:11,65098321808,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175506,Québec,5022,650983218,2019-07-19 18:23:11,65098321819,BLOODY CEASAR,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175507,Québec,5022,650983218,2019-07-19 18:23:11,65098321803,REM CUISINE,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175508,Québec,5022,650983218,2019-07-19 18:23:11,65098321817,* FILET MIGNON 4OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175509,Québec,5022,650983218,2019-07-19 18:23:11,65098321846,* FILET MIGNON 6OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175510,Québec,5022,650983218,2019-07-19 18:23:11,65098321854,* FILET MIGNON 4OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175511,Québec,5022,650983218,2019-07-19 18:23:11,65098321805,AUTRES,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175512,Québec,5022,650983218,2019-07-19 18:23:11,65098321812,FILET MIGNON 4 OZ,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175513,Québec,5022,650983218,2019-07-19 18:23:11,65098321830,EXT.CHAMPIG.BEURRE,2.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175514,Québec,5022,650983218,2019-07-19 18:23:11,65098321840,MOJITO,3.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0
175515,Québec,5022,650983218,2019-07-19 18:23:11,65098321843,MEDIUM,5.0,0,0,0.000,...,30,1,25,Friday,18,dinner,True,0,0,0