In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../data_cleaning/df_per_item_august.csv")
table = pd.read_csv("../data_cleaning/df_per_table_august.csv")
best_bars = pd.read_csv("../data/best_bars_35.csv")

In [2]:
bdata = data[data.bar_id.isin(best_bars.bar_id)]
btable = table[table.bar_id.isin(best_bars.bar_id)]

NameError: name 'data' is not defined

In [6]:
len(bdata)

132851

In [7]:
len(btable)

31636

In [16]:
btable.guest_count.value_counts(normalize=True)

 1     0.608579
 2     0.275541
 3     0.053958
 4     0.035908
 5     0.009135
 0     0.006195
 6     0.004931
 7     0.001833
 8     0.001422
 9     0.000948
 10    0.000632
 14    0.000190
 11    0.000158
 13    0.000158
 12    0.000126
 16    0.000063
 17    0.000032
-1     0.000032
 18    0.000032
 19    0.000032
 20    0.000032
 25    0.000032
 21    0.000032
Name: guest_count, dtype: float64

In [9]:
btbl_cat_1 = btable[btable.guest_count == 1]

In [10]:
bdata_cat_1 = bdata[bdata.guest_count == 1]

In [17]:
len(btbl_cat_1)

19253

In [18]:
btbl_cat_1.head()

,order_id,bar_id,order_time,sales_inc_tax,guest_count,bar_type_id,total_orders,item_qty,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,kids_meal,birthday,beer_volume,order_day_of_week,order_hour,num_drinks
36,646942345,1042,2019-07-14 08:18:14,2.86,1,16,1,1.0,0,0,0,1,0,0,0,0,0.0,7,8,1
37,646942916,3539,2019-07-14 08:05:33,8.63,1,0,16,4.0,0,4,0,0,0,0,0,0,0.0,7,8,0
86,646950222,1042,2019-07-14 08:18:32,5.69,1,16,3,3.0,0,1,0,0,2,0,0,0,0.0,7,8,0
91,646950361,3539,2019-07-14 08:02:01,15.53,1,0,80,11.0,0,8,0,0,2,0,0,0,0.0,7,8,0
93,646950831,3539,2019-07-14 08:10:42,8.63,1,0,20,5.0,0,4,0,0,1,0,0,0,0.0,7,8,0

In [19]:
btbl_cat_1[btbl_cat_1.order_id == 646942345]

,order_id,bar_id,order_time,sales_inc_tax,guest_count,bar_type_id,total_orders,item_qty,total_orders_category_id_1.0,total_orders_category_id_2.0,total_orders_category_id_3.0,total_orders_category_id_4.0,total_orders_category_id_5.0,total_orders_category_id_6.0,kids_meal,birthday,beer_volume,order_day_of_week,order_hour,num_drinks
36,646942345,1042,2019-07-14 08:18:14,2.86,1,16,1,1.0,0,0,0,1,0,0,0,0,0.0,7,8,1