# Measure The 6 Plus Bin Heuristics Accuracy

As a refresher, these are our occasions for the 3-5 bin:

1. `Family Event`
2. `Drinking`
3. `Breakfast`
4. `Lunch`
5. `Dinner`
6. `Social Gathering`
7. `After Work`

We're going to pick specific labeled tables, and see how our heuristics is doing.

In [1]:
data_map = {
    "hockey": "../data/hockey_3_text_processed.csv",
    "valentine": "../data/valentine_3_text_processed.csv",
    "silvester": "../data/silvester_3_text_processed.csv"
}

The following are taken from the *annotations/occasions_annotations_bin3to5* notebook.

In [2]:
labeled_tables_map = {
    "hockey": 
[(514594544, "DINNER"),
 (520144566, "DINNER_PARTY"), #problem in heurstic due to item qunatity
 (512856753,"UNKNOWN"),
 (523552965,"DINNER"),
 (522777307,"DRINKING"),
 (520932269,"DINNER"),
 (520961529,"FAMILY_EVENT"), # bug in extracting the kid meal
 (522822209,"DRINKING")
],
    "valentine": 
[(434693771,"FAMILY_EVENT"),# bug in extracting the kid meal
 (446750517,"UNKNOWN"),
 (447075894,"DINNER"),
 (447589967,"DINNER"),
],
    "silvester": 
[(361348245,"DINNER"),
(360970732,"FAMILY_EVENT"),
(360903046,"DINNER"),
(363236528,"FAMILY_EVENT")]
}

------

In [3]:
import pandas as pd

Import the classifier function `6Plus Classifier`:

In [4]:
from bin_6plus import Bin6PlusClassifier as Classifier
classifier = Classifier()

-----

### Results per Table:

In [5]:
tables = ["hockey", "valentine", "silvester"]

In [6]:
results = {}
results_new = {}

In [7]:
from main import shrink_orders_to_table

In [8]:
for table in tables:
    print("Running for", table)
    df_path = data_map[table]
    df = pd.read_csv(df_path)
    labeled_tables = labeled_tables_map[table]
    
    results[table] = []
    for order_id, true_ocassion in labeled_tables:
        orders = df[df.order_id == order_id]
        orders = shrink_orders_to_table(orders)
        pred_occasion = classifier.classify(orders)
        results[table].append((order_id, true_ocassion, pred_occasion))

Running for hockey
Running for valentine
Running for silvester

#### Show the results:

In [9]:
columns = ["order_id", "true_occasion", "pred_occasion"]

In [10]:
def color(data):
    correct = data["true_occasion"] == data["pred_occasion"]
    if correct:
        color = "#58f200"
    else:
        color = "#ee1300"

    return ["background-color: %s" % color] * len(data.values)

In [11]:
table = "hockey"

df = pd.DataFrame(results[table], columns=columns)
df.index += 1
df.style.apply(color, axis=1)
# df.to_csv(str(table) + "_3to5_test_results.csv", index=False)

In [12]:
table = "valentine"

df = pd.DataFrame(results[table], columns=columns)
df.index += 1
df.style.apply(color, axis=1)
# df.to_csv(str(table) + "_3to5_test_results.csv", index=False)

In [13]:
table = "silvester"

df = pd.DataFrame(results[table], columns=columns)
df.index += 1
df.style.apply(color, axis=1)
# df.to_csv(str(table) + "_3to5_test_results.csv", index=False)